body {
  color: #000330 !important;
  background-color: #fafcff;
}
#navbar {
  border: 1px solid #3366cc !important;
}
.dropdown-menu {
  right: auto !important; /* Asegura que no se alinee automáticamente a la derecha */
  left: 0 !important; /* Lo mueve hacia la izquierda */
  transform: translateX(-50%); /* Centra el dropdown */
  min-width: 200px; /* Ajusta el ancho mínimo */
}

.border {
  border: 1px solid #3366cc !important;
}
.text-decoration-underline {
  color: #3366cc;
}
.btn-custom {
  background-color: #3366cc;
  color: white;
}
.btn-custom:hover {
  color: #ffff66;
  background-color: #3366cc;
}
h5 {
  color: #3366cc !important;
}
.card-header {
  color: #3366cc;
}
.list-group-item.selected {
  background-color: #3366cc; 
  color: white; 
  font-weight: bold; 
}
.btn-borrar {
  background-color: #ffff66;
  color: #000330;
}
.btn-borrar:hover {
  background-color: #000330;
  color: #ffff66;
}

